<app-side-bar></app-side-bar>
<div class="headerr">
 
  <div class="container mt-3">
    <app-header></app-header>
    <ul class="breadcrumb ms-lg-5 mt-md-4">
      <li class="breadcrumb-item active">
        <a class="nav-link active" routerLink="Home">Eis Home</a>
      </li>
      <li class="breadcrumb-item">Admin</li>
    </ul>
  </div>
  <h1 style="margin-left: 140;">Project</h1>
  <div class="row table_body bg-white ">
    <div class="col-3 ms-3 bg-white"><app-table-nav class="mt-2"></app-table-nav></div>
    <div class="col-8 bg-white"> <app-tables class="mt-2" ></app-tables></div>
    
  </div>
 
</div>


