  <div class="row">
    <div class="col-6">
        <input class=" border-dark" type="text" placeholder="search">
    </div>
    <div class="col-6">
        <button class="btn btn-outline-dark w-75 p-1"> create user</button>
    </div>
    <h3>user</h3>
  </div>
<table class="table table-hover bg-white">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>joom</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>julcom</td>
      </tr>
    </tbody>
  </table>